.dashboard-container {
  width: 100%;
  align-self: flex-start;
}
.dashboard-container header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 3em 0;
}
.dashboard-container header > ul {
  display: flex;
  column-gap: 5em;
  list-style-type: none;
  padding: 0;
}

.dashboard-container .log-out-button:hover {
  color: red;
}
.dashboard-container .add-note-button:hover {
  color: rgb(26, 255, 0);
}

/*=============================MAIN CONTENT==============================*/
.content {
  display: flex;
}

/*controllers (filters,etc..)*/
.controllers {
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0);
}

.filter-container {
  border-top: 1px dashed whitesmoke;
  border-bottom: 1px dashed whitesmoke;
  padding: 1em 0;
  margin: 0 0.5em;
}

.filter-container h1 {
  margin-bottom: 1em;
  text-align: center;
}

.filter-container div {
  display: flex;
  justify-content: space-evenly;
}

.clear-filter.inactive {
  display: none;
}

.clear-filter.active {
  color: rgba(255, 255, 255, 0.91);
}

.clear-filter:hover {
  color: rgba(255, 255, 255, 0.341);
  cursor: pointer;
}

.todo-filter:hover {
  color: rgb(0 174 255);
  cursor: pointer;
}

.reminder-filter:hover {
  color: rgb(255 46 152);
  cursor: pointer;
}

.todo-filter.selected {
  color: rgb(0 174 255);
}

.reminder-filter.selected {
  color: rgb(255 46 152);
}

/**/
.switchers-container {
  display: flex;
  justify-content: flex-end;
}

.switchers-container h1 {
  cursor: pointer;
  padding: 0.8em;
  margin: 0 5px;
  border: 1px dashed rgba(245, 245, 220, 0.306);
}

.inprogress-actived {
  background-color: #ff5f007d;
}

.completed-actived {
  background-color: #2eff0047;
}

/*notes (todo/reminders)*/
.notes-main {
  flex-basis: 70%;
}

.notes-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.empty-notes-message {
  margin: 4em auto;
}

.card {
  background-color: rgba(0, 64, 94, 0.278);
  padding: 1em;
  width: 100%;
  height: 10em;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  position: relative;
}
.card:hover {
  background-color: rgb(255 255 255 / 45%);
}
.todo {
  border: 1px dashed var(--theme-color-4);
}
.reminder {
  border: 1px dashed var(--theme-color-9);
  background-color: rgb(193 0 98 / 19%);
}

.completed {
  background-color: rgba(253, 253, 253, 0.138);
}

.overlay {
  align-items: center;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
}

.note-container h2 {
  flex-basis: 70%;
}
.note-container h3 {
  flex-basis: 30%;
  text-align: end;
}
.note-container p {
  flex-basis: 100%;
}

.trash-icon:hover {
  fill: red;
}

.pencil-icon:hover {
  fill: rgb(64, 0, 255);
}

.check-mark-icon:hover {
  fill: rgb(26, 255, 0);
}

/*=================form to edit and create notes */
.note-form {
  background-color: var(--theme-color-5);
  /* background-color: #3a3a3a; */
}

.note-form > h3 {
  text-align: center;
  color: var(--theme-color-1);
}

.note-form input {
  background-color: rgb(249, 250, 251);
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-wrapper select {
  width: 120px;
}

/*======dropdown setting menu*/
.settings-wrapper {
  position: relative;
}

.settings-wrapper h1 {
  margin-bottom: 3px;
  cursor: default;
}

.settings-wrapper ul {
  display: none;
  position: absolute;
  z-index: 2;
  min-width: 160px;
  background-color: #343434;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0);
}

.settings-wrapper:hover ul {
  display: block;
}

.settings-wrapper li {
  display: block;
  margin: 7px 5px;
  padding: 2px;
  cursor: pointer;
}
.settings-wrapper li:hover {
  background-color: #7e7e7e5a;
}

@media (max-width: 800px) {
  .dashboard-container {
    align-self: center;
    width: 100%;
  }
  .content {
    flex-direction: column;
    gap: 2em;
  }
  .controllers {
    position: sticky;
    top: 5px;
    background-color: #343434;
    z-index: 1;
  }
  .switchers-container {
    justify-content: center;
  }
  .switchers-container h1 {
    font-size: 0.9em;
  }
  .empty-notes-message {
    width: 90vw;
    text-align: center;
  }
}
