.dashboard-container {
  flex-basis: 100%;
  align-self: flex-start;
}
.dashboard-container header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 3em 0;
}
.dashboard-container header ul {
  display: flex;
  column-gap: 5em;
  list-style-type: none;
  padding: 0;
}

.dashboard-container .log-out-button:hover {
  color: red;
}
.dashboard-container .add-note-button:hover {
  color: rgb(26, 255, 0);
}

/*=============================MAIN CONTENT==============================*/
.content {
  display: flex;
}

/*controllers (filters,etc..)*/
.controllers {
  flex-basis: 30%;
  background-color: rgba(255, 255, 255, 0);
}

.filter-container {
  border-top: 1px dashed whitesmoke;
  border-bottom: 1px dashed whitesmoke;
  padding: 1em 0;
  margin: 0 0.5em;
}

.filter-container h1 {
  margin-bottom: 1em;
  text-align: center;
}

.filter-container div {
  display: flex;
  justify-content: space-evenly;
}

.clear-filter.inactive {
  display: none;
}

.clear-filter.active {
  color: rgba(255, 255, 255, 0.91);
}

.clear-filter:hover {
  color: rgba(255, 255, 255, 0.341);
  cursor: pointer;
}

.todo-filter:hover {
  color: rgb(0 174 255);
  cursor: pointer;
}

.reminder-filter:hover {
  color: rgb(255 46 152);
  cursor: pointer;
}

.todo-filter.selected {
  color: rgb(0 174 255);
}

.reminder-filter.selected {
  color: rgb(255 46 152);
}

/**/
.switchers-container {
  display: flex;
  justify-content: flex-end;
}

.switchers-container h1 {
  cursor: pointer;
  padding: 0.8em;
  margin: 0 5px;
  border: 1px dashed rgba(245, 245, 220, 0.306);
}

.inprogress-actived {
  background-color: #ff5f007d;
}

.completed-actived {
  background-color: #2eff0047;
}

/*notes (todo/reminders)*/
.notes-main {
  flex-basis: 70%;
}

.notes-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(0, 64, 94, 0.278);
  padding: 1em;
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  position: relative;
}
.card:hover {
  background-color: rgb(255 255 255 / 45%);
}
.todo {
  border: 1px dashed var(--theme-color-4);
}
.reminder {
  border: 1px dashed var(--theme-color-9);
  background-color: rgb(193 0 98 / 19%);
}

.completed {
  background-color: rgba(253, 253, 253, 0.138);
}

.overlay {
  align-items: center;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
}

.note-container h2 {
  flex-basis: 70%;
}
.note-container h3 {
  flex-basis: 30%;
  text-align: end;
}
.note-container p {
  flex-basis: 100%;
}

.trash-icon:hover {
  fill: red;
}

.pencil-icon:hover {
  fill: rgb(64, 0, 255);
}

.check-mark-icon:hover {
  fill: rgb(26, 255, 0);
}

/*=================form to edit and crete notes */
.note-form {
  background-color: var(--theme-color-5);
  /* background-color: #3a3a3a; */
}

.note-form > h3 {
  text-align: center;
  color: var(--theme-color-1);
}

.note-form input {
  background-color: rgb(249, 250, 251);
}
