.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  color: var(--theme-color-1);
  margin: 0.5em 0;
}

.input-container label h1::before {
  background-color: var(--theme-color-7);
  content: "";
  position: absolute;
  width: 4em;
  height: 2.4%;
  transform: rotate(-2deg);
}

.input-container input {
  color: var(--theme-color-1);
  background-color: var(--theme-color-8);
  padding: 0.7em 0;
}

.error {
  color: red;
}

.textare-container {
  display: flex;
  flex-direction: column;
}

.textare-container label {
  color: var(--theme-color-1);
  margin: 0.5em 0;
}

.textare-container label h1::before {
  background-color: var(--theme-color-7);
  content: "";
  position: absolute;
  width: 4em;
  height: 2.4%;
  transform: rotate(-2deg);
}
