.input-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

.input-container label {
  color: var(--theme-color-1);
  margin: 0.5em 0;
}

.input-container label h1::before {
  background-color: var(--theme-color-7);
  content: "";
  position: absolute;
  width: 4em;
  height: 2.4%;
  transform: rotate(-2deg);
}

.input-container input {
  color: var(--theme-color-1);
  background-color: var(--theme-color-8);
  padding: 0.7em 0;
}

.error {
  color: red;
}

.success {
  color: rgb(26, 255, 0);
}

.textare-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

.textare-container label {
  color: var(--theme-color-1);
  margin: 0.5em 0;
}

.textare-container label h1::before {
  background-color: var(--theme-color-7);
  content: "";
  position: absolute;
  width: 4em;
  height: 2.4%;
  transform: rotate(-2deg);
}

.warnning:hover {
  color: rgb(255, 106, 0);
}

/*----adding eye toggle to see pwd--------*/
.input-pwd-wrapper {
  position: relative;
}

.input-pwd-wrapper > input {
  width: 100%;
}
.eye-icon {
  position: absolute;
  top: 22%;
  right: 10px;
  width: 1.8em;
  cursor: pointer;
}

.actived {
  fill: rgb(26, 255, 0);
}
