.reset-pwd-form-wrapper {
  text-align: center;
  align-self: flex-start;
  padding-top: 10%;
}

.call-to-action.reset-pwd {
  margin: 0 auto;
}

.form.reset-pwd {
  width: 35%;
  margin: 0 auto;
}

.call-to-action h1.reset-pwd {
  font-size: 3.5em;
}

.form-container p.reset-pwd {
  text-align: center;
  color: #ffb27ed6;
}
